@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{

    
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;

}


.top{
    position: absolute;
    top:15%;
    display: flex;
    width: 85%;
    justify-content: space-evenly;
}
.bottom{
    position: absolute;
    top:70%;
    display: flex;
    width:85%;
    justify-content:space-evenly;

}


.card{
    padding: 30px;
    text-align: center;
    padding-top:none ;
    width: 250px;
    height:300px;
    margin: 30px;
    background-color: #000000;
    box-shadow: #1e83bd5f 10px 10px 10px;
    color: white;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
   /* margin-bottom: 90px;*/
}

.lot{
    position: relative;
    width: 122%;
    height: 20%;
    margin-bottom: 100px; 
    
}
.card h1{
    padding-top: 50px;
    padding-bottom: 0px;
    
}
.link-lab{
    text-decoration: none;
}

.firstpage{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    
  align-items: center;
}
.header a{
 
  font-family: 'Aeonik', sans-serif;
  padding: 20px;
  font-size: larger;
  text-shadow:rgba(73, 73, 73, 0.584) 0px 0px 10px ;
  transition: 0.2s linear;
  cursor: pointer;
  display: flex;
  
  
  color: white;
  
  padding: 70px;
 
}
.header li:hover{
    scale: 1.2;
}


.card h1{
    font-size: 50px;
}

/* .header .show{
    display: flex;
} */
/* .header{
    position: relative;
    left: -100px;
    
} */