@font-face {
    font-family: aeonik;
    src: url(assets/AeonikTRIAL-Bold.otf);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
   background-color: #000000;
}
.navigation{
    padding: 30px 0;
    z-index: 5;
}
.logo{
    width: 55px;
    height: auto;
    
}
.firstpage{
    width: 100vw;
    height: 100vh;
    /* background-image: url(assets/people.png); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(assets/people.png);
    background-repeat: no-repeat;
    background-size: 100vw auto;
}

#navbarSupportedContent{
    justify-content: center;
}

.navbar-nav li{
    padding: 20px;
    cursor: pointer;
}
.nav-el:hover{
    color: #29B2FF;
}
.join{
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    width: 90px;
    height: 34px;
    color: white;
    background: linear-gradient(276.74deg, #29B2FF -17.67%, #102632 116.64%);
}
.join a{
    color: white;
    text-decoration: none;
  }

/* ----------------------------OVERLAY------------------ */

.overlay{
    background-color: black;
    position: absolute;
    background-clip: padding-box;
    width: 100vw;
    height: 100vh;
    top: 0;
    font-size: 9em;
    z-index: 3;
}

.text{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-family: 'Aeonik' ,sans-serif;
    text-align: center;
    width: 100vw;
    background-color: #000000;
    z-index: 4;
    color: #569BE7;
    animation-delay: 4000ms;
    animation: transp 7000ms ease-in-out 1;
    
}

.text-wrapper{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-family: 'Aeonik' ,sans-serif;
    text-align: center;
    color: transparent;
    background:radial-gradient(27% 27% at 50% 50%, #00000000 0%, rgb(0, 0, 0) 100%) ;
    width: 100vw;
    z-index: 5;
    animation: eye 4000ms ease-in-out 1;
    transition: 8000ms ease-in-out;
}

/* =========================ANIMATIONS======================= */
  
   .join:hover a {
    color: #000000;
    z-index: 3;
  }
  .circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #85d8d8;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
    z-index: 0;
  }
  
  .join:hover .circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -20px;
    left: -30px;
    color: black;
    z-index: 0;
  } 
  
/* --------------------------------------------------------------------- */

@keyframes eye{
    0%{
        background-position: 0%;
    }
    15%{
        background-position: 500px ;
    }
    25%{
        background-position: 2000px;
    }
    80%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }

}
div span{
    background:transparent;
}
/* @keyframes transp{
    
    to{
        color: transparent;
        background-color: transparent;
    }
} */

.about{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    height:auto ;
    bottom: 0;
    z-index: 4;
    padding: 50px;
    background: linear-gradient(0.46deg, rgba(11, 11, 11, 0.8) 0.46%, #0B0B0B 53.98%, rgba(11, 11, 11, 0) 99.68%);
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #131313 35.22%);
}
.about h1{
    background: linear-gradient(180deg, #29B2FF 0%, rgba(41, 178, 255, 0) 147.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Aeonik',sans-serif;
    
}
.about div{
    /* font-family: 'Aeonik'; */
font-style: lighter;
font-weight: 400;
font-size: 13px;
line-height: 15px;

color: #f2f2f2db;
}
.ntl-text{
    color: transparent;
    background-image: url('assets/people.png');
    --webkit-text-fill-color: transparent;
    --webkit-background-clip : text;
    overflow: hidden;
}


.giphy{
    position: absolute;
    z-index: 6;
}


/* ==============NORMAN=============== */


.norman{
    background-color: #010101;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: center;
}
.header a{
    padding: 40px;
    color: white !important; 
    transition: 0.2s linear;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}
.header a:hover{
    scale: 1.2;
    
}

#people{
    padding: 60px;
}
/* cards  */
.icons img{
    height: 32px;
    width: 32px;
    transition: all 0.2s;
    
}
.icons img:hover{
    transform: scale(1.3);
}
.card_lab{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-evenly;
    
}
.cards_lab{
    width: 230px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: #2d92ccad 0px 0px 50px;
    
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    transition: all 0.3s;
    cursor: pointer;
    
}
.cards_lab:hover{
    background-color: #29B2FF;
    color: white;
    transform: scale(1.1);
}
.image{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.members{
    padding-top: 100px;
}
.loop{
    display: inline-block;
}
.m-scroll {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100px;
    margin: none;
    background-color: #000000;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 30px;
  }
  
  .m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(2);
    transition: all 1s ease;
  }
  
  .m-scroll__title > div {
    display: flex;
    animation: scrollText 90s infinite linear;
  }
  
  .m-scroll__title h1 {
    margin: 0;
    font-size: 30px;
    color: rgba(255,255,255,1);
    transition: all 1s ease;
  }
  
  .m-scroll__title a {
    text-decoration:none;
    color:white;
  }
  

@keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-200%); }
  }
