*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
   background-color: black  ;
   overflow-x: hidden;
}

.timeline ul{
    padding: 50px 0;
}

.timeline ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #2DD8FD;
    box-shadow: -1px 2px 35px 1px rgba(25,133,225,0.75);
    
}
.timeline time{
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom:10px;
}
.timeline ul li::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 1s;
    background-color: #2DD8FD;
   
    z-index: 1;
}


.timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    font-weight:lighter;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 15px 30px;
    transition: all 1s ease-out;
    cursor: pointer;
    /* border-radius: 20px; */
    
    
}
.timeline ul li div::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -32px;
    right: -32px;
    background: linear-gradient(to right, #2DD8FD 10%,#2DD8FD);
    box-shadow: -6px 2px 55px -10px rgba(25,133,225,0.75);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
  }
  p{
    color: #e1e1e5 ;
    z-index: 3;
  }
  .timeline ul li div:hover:before {
    transform: scale(21);
  }
  
  .timeline ul li div:hover p{
    color: #101014;
  }
.timeline ul li:nth-child(odd) div::before{
    top: calc(400px - 300px + 6px);
    right: calc(400px - 16px + 6px);
    box-shadow: -1px 40px 65px 10px rgba(25,133,225,0.75);
    
}
.timeline ul li:nth-child(odd) div{
    left: 35px;
    background: #101014;
  
    transform: translateX(200%);
}
.timeline ul li:nth-child(even) div p{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.timeline ul li:nth-child(even) div{
    align-items: flex-end;
    left: calc(-400px - 35px + 6px);
    transform: translateX(-200%);
    background: #101014;
}
.timeline ul li.in-view::after{
    background-color: #1985E1;
}
.timeline ul li.in-view div{
    transform: none !important;
}

